body{
    background:#121113;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:0;
    font-family:Arial;
}

.calculator{
    width:330px;
    padding:15px;
    color:white;
    border:3px solid #7b2cf3; 
    border-radius:20px;
    box-shadow:0 0 18px rgba(123,44,243,0.4);
}


.display-box{
    width:100%;
    height:100px;
    border:3px solid #6b6b6b;
    border-radius:15px;
    padding:15px;
    box-sizing:border-box;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
}

#inputDisplay{
    color:oklab(76.838% 0.00217 0.00058);
    font-size:40px;
    text-align:right;
    min-height:30px;
}

#result{
    width:100%;
    background:transparent;
    border:none;
    outline:none;
    color:oklab(88.232% 0.0042 0.0012);
    font-size:35px;
    text-align:right;
}

.buttons{
    margin-top:20px;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:10px;
}

button{
    height:70px;
    border-radius:50%;
    border:none;
    font-size:24px;
    color:white;
    background:#2f2d31;
    cursor:pointer;
    transition:.2s;
}

button:active{
    transform:scale(.9);
}

.ac{
    background:#7b2cf3;
}

.equal{
    background:#f3a9b8;
    color:black;
    font-weight:bold;
}
